@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}


body {
  background-color: #000000;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 1;
}

.logo {
  margin-right: auto;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  font-weight: 500;
}

.logo span {
  color: #52b0ff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 90px;
  box-shadow: 0 0.1rem 0.3rem rgba(204, 204, 204, 0.315);
  width: 100%;
  background: #242424;
  transition: all 0.5s;
  position: fixed;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  justify-content: center;
}

.navigation ul li a {
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
  color: #fff;
}

.navigation ul li a:hover {
  color: #52b0ff;
}

.navigation i {
  cursor: pointer;
  font-size: 1.5rem;
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: #52b0ff;
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: #52b0ff;
}


 .container-planos {
  width: 100%;
  display: flex;
}

.js .js-section-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js .js-section-scroll {
  transition: all 1.8s;
}

.container {
  padding: 120px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .list-emotional {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
  }
}

.list-emotional {
  display: grid;
  background: #b9b9b9;
  border-radius: 80px;
  padding: 50px;
}

.item-emotional {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .container-planos {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }
}



@media (max-width: 800px) {
  .container-planos {
    grid-template-columns: repeat(1, 1fr);
  }
}

 h3{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
 .plano-title {
  margin-top: 15px;
 }

.items {
 list-style: none;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

 .item-plano {
background-color: #3a3a3a;
border: 2px solid  #898889;
border-radius: 12px;
padding: 30px;
margin: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.761);
width: 220px;
}

.item-plano > h2{
  color: #007bff;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

 li{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: none solid rgb(241,248,248);
  text-align: left;
  word-spacing: 0px;
}

.list-plano {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 15px;
  color: #fff;
}

.price-down {
  text-decoration: line-through;
  color: #888;
  font-weight: bold;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #fff;
}

 .btn {
  text-align: center;
}

.btn  a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn  a:hover{
  background-color: #0056b3;
}


/* Menu Responsivo */

@media (max-width: 785px) {
  section .content {
    padding: 20px ;
  }
  .navigation {
    padding: 18px 20px;
  }
  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: white;
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
    background-color: #242424;
    overflow-y: hidden; /* desabilita a barra de rolagem */
  }

  .nav-item {
    margin: 16px 0;
  }
  .navigation ul li a {
    font-size: 17px;
    font-weight: bold;
    transition: all 0.5s;
    color: #fff;
    background-color: #242424;
  }

  .navigation ul li a:hover {
    color: #3183bf;
  }

  .content .image img {
    max-width: 200px;
  }
}


.whats-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-image: url("./src/svg/whats.svg");
}

@keyframes whatsapp-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


footer {
  background-color: #000;
  padding: 25px;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.direitos-reservados  {
  text-align: center;
  color: #fff;
}

input[type="button"]:active {
  transform: scale(1.1);
}

.image img {
  max-width: 200px;
  border-radius: 10%;
}

.container {
  background-image:
    url("/src/img/tenis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 30vh; */
}

.container-vantagens h3 {
  margin-bottom: 60px;
  position: relative;
}

h3 {
 font-size: 2.5rem;
 line-height: 3rem;
 font-weight: 400;
}

.container-vantagens h3::before {
  content: "";
  position: absolute;
  display: inline-block;
  clip-path: polygon(0% 0%, 0 36%, 1% 36%, 1% 1%, 17% 1%, 17% 0);
  width: 300px;
  height: 300px;
  background: #a40626;
  left: -60px;
  top: 35px;
}

::before {
  box-sizing: inherit;
}

.vantagens-list {
  display: grid;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vantagens-list ul li+li {
  margin-top: 30px;
}

.vantagens-list ul li {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}

.vantagens-list ul li h2 {
  text-align: right;
  color: #007bff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
  opacity: 0.95;
  font-style: inherit;
  line-height: inherit;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
 margin-inline-end: 0px;
}

.vantagens-img img {
  width: 150px;
  border-radius: 20px;
}

img {
  display: block;
  max-width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}




